@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.table-view-wrapper .pointer-events-none.absolute.inset-y-0.right-0.flex.items-center.px-2.text-gray-700 {
    display: none
}

.primary-text-gradient {
    background: linear-gradient(129deg, #55e0ff 0%, #be87d9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.table-view-wrapper .pointer-events-none.absolute.inset-y-0.right-0.flex.items-center.px-2.text-gray-700 {
    display: none
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background-image: url('https://res.cloudinary.com/jasberry/image/upload/v1688585130/abstraction_uviu3j.png');
    background-size: cover;
    filter: blur(50px);
}

body {
    margin: 0;
}

.cd-container {
    position: relative;
    overflow: hidden;
    animation: rotateAlbum 3s infinite linear paused;
}


@keyframes rotateAlbum {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*.cd-container::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*}*/

.cd-inner-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff;
}

.shadow-4xl {
    -webkit-box-shadow: 6px 100px 100px -74px rgba(0, 0, 0, 1);
    -moz-box-shadow: 6px 100px 100px -74px rgba(0, 0, 0, 1);
    box-shadow: 6px 100px 100px -74px rgba(0, 0, 0, 1);
}

#headerId {
    position: sticky;
    top: 0;
    z-index: 10;
}

#theadId {
    position: sticky;
    top: 49px;
    z-index: 9;
}
@media (max-width: 1024px) {
    #theadId {
        top: 0;
    }
}

.buttonStyle {
    background-color: rgb(30,30,65);
    color: white;
    z-index: 10;
    transition: 0.2s ease-in;

}
.buttonStyle:hover {
    background-color: white;
    color: rgb(30,30,65);
}

.buttonStyle:hover::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Dodaj piosenkę';
    font-size: 14px;
    font-weight: 700;
    padding: 3px 10px 3px 5px;
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 0;
    left: -120px;
    border-radius: 20px;
}
