@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.table-view-wrapper .pointer-events-none.absolute.inset-y-0.right-0.flex.items-center.px-2.text-gray-700 {
    display: none
}

.primary-text-gradient {
    background: linear-gradient(129deg, #55e0ff 0%, #be87d9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.table-view-wrapper .pointer-events-none.absolute.inset-y-0.right-0.flex.items-center.px-2.text-gray-700 {
    display: none
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}
.playlistGlassmorphism {
    background-color: rgb(24,24,24);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    @apply dark:bg-white/40;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background-image: url('https://res.cloudinary.com/jasberry/image/upload/v1688585130/abstraction_uviu3j.png');
    background-size: cover;
    filter: blur(50px);
}




body {
    margin: 0;
}

.cd-container {
    position: relative;
    overflow: hidden;
    animation: rotateAlbum 3s infinite linear paused;
}


@keyframes rotateAlbum {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*.cd-container::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*}*/

.cd-inner-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff;
}

.shadow-4xl {
    -webkit-box-shadow: 6px 100px 100px -74px rgba(0, 0, 0, 1);
    -moz-box-shadow: 6px 100px 100px -74px rgba(0, 0, 0, 1);
    box-shadow: 6px 100px 100px -74px rgba(0, 0, 0, 1);
}

#headerId {
    position: sticky;
    top: 0;
    z-index: 10;
}

#theadId {
    position: sticky;
    top: 49px;
    z-index: 9;
}
@media (max-width: 1024px) {
    #theadId {
        top: 0;
    }
}

.buttonStyle {
    background-color: rgba(30,30,65);
    color: white;
    z-index: 10;
    transition: 0.2s ease-in;

}
.buttonStyle:hover {
    background-color: white;
    color: rgb(30,30,65);
}

.buttonStyle:hover::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Dodaj';
    font-size: 14px;
    font-weight: 700;
    padding: 3px 10px 3px 5px;
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 0;
    left: -60px;
    border-radius: 20px;
}

.glassmorphismTable {
    z-index: 1;
    backdrop-filter: blur(40px);
}

.glassy {
    background-image: url('https://res.cloudinary.com/jasberry/image/upload/v1688585130/abstraction_uviu3j.png');
    background-size: cover;
    z-index: -1;
}

.glassmorphismTable > div > div:nth-child(2) {
    background-color: rgb(18,18,18);
}

.glassmorphismTable > div > div:nth-child(4) {
    background-color: rgb(18,18,18);
}




/* Audio player */


.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    row-gap: 10px;
}


.range-slider {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.4em;
    outline: none;
    border-radius: 3px;
    background: #1f1f1f;
    cursor: pointer;
}

.range-slider:hover .progress {
    background: rgb(0, 175, 83);
}


.slider-thumb {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 2px #1f1f1f;
    cursor: pointer;
    position: absolute;
    z-index: 50;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.7em;
    height: 1.7em;
    z-index: 40;
    position: relative;
}

.progress {
    height: 0.4em;
    border-radius: 3px;
    background: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    pointer-events: none;
}


.volume-slider {
    display: flex;
    justify-content: right;
    align-items: center;
}



.volume-icon {
    color: rgb(156 163 175);
    cursor: pointer;
}
.volume-icon span {
    font-size: 2em;
    padding-top: 0.2em;
}

.volume-thumb {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 2px #1f1f1f;
    cursor: pointer;
    position: absolute;
    z-index: 50;
    pointer-events: none;
}


.btnPlayer {
    color: #b2afaf;
    border-radius: 50%;
    cursor: pointer;
}

.btnPlayer:hover {
    color: white;
}


.btn-main span {
    background-color: white;
    padding: 4px;
    border-radius: 50%;
    color: black;
}


.btn-main:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 700px) {
    .range-slider {
        width: 100%;
    }
}
